@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,700;0,800;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* PRIMARY */
    --light-red: hsl(0,100%,67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* GRADIENTS */
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royale-blue-background: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
    /* NEUTRAL */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

body{
    background-color: var(--pale-blue);
    font-family: 'Hanken Grotesk', sans-serif;
}

.card__container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 736px;
    height: 512px;
    position: relative;
    top: 2.5rem;
    border-radius: 25px;
}

.card__row {
    display: flex;
    justify-content: space-around;
}

/* left r styles */
.left-rectangle{
    background-color: var(--cobalt-blue);
    width: 368px;
    height: 512px;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    border-radius: 25px;
    position: relative;
    right: 39px;
}

.left-rectangle h1{
    color: var(--white);
    text-align: center;
    font-family: Hanken Grotesk;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    /* line-height: 72px; */
}

.left-rectangle h3{
    color: var(--white);
    text-align: center;    
    font-family: Hanken Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    top: 0rem;
}

.left-rectangle h4{
    font-size: 25px;
    text-align: center;
    color: var(--light-lavender);
}

.left-rectangle span{
    text-align: center;
    font-size: 18px;
    color: var(--light-blue, #CAC9FF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.left-rectangle p{
    text-align: center;
    font-size: 18px;
    color: var(--light-blue, #CAC9FF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.left-rectangle p:nth-child(1){
    position: relative;
    top: 3rem;
}

.results__circle{
    background: linear-gradient(var(--persian-blue-circle),var(--violet-blue-circle));
    border-radius: 50%;
    opacity: 1.4;
    width: 200px;
    height: 200px;
    margin: 2rem 2rem;
}

.results__circle p{
    color: var(--light-blue);
}

/* left r styles */

/* right r styles */
.right-rectangle, h4:nth-child(1){
    position: relative;
    top: 1rem;
    font-size: 24px;
}

.scores__box {
    width: 288px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 15px;
}

.scores__box img{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.scores__box h4{
    font-size: 18px;
    position: relative;
    right: 30px;
}

.reaction {
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
}

.reaction h4{
    color: var(--light-red);
}

.reaction span{
    color: var(--dark-gray-blue);
}

.memory {
    background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);
}

.memory h4{
    color: var(--orange-yellow);
}

.memory span{
        color: var(--dark-gray-blue);
}

.verbal {
    background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
}

.verbal h4{
    color: var(--green-teal);
}

.verbal span{
    color: var(--dark-gray-blue);
}

.visual {
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
}

.visual h4{
    color: var(--cobalt-blue);
}

.visual span{
    color: var(--dark-gray-blue);
}

.btn__C {
    background-color: var(--dark-gray-blue);
    color: var(--white);
    text-decoration: none;
    width: 288px;
    height: 56px;
    flex-shrink: 0;
    text-align: center;
    display: block;
    padding: 15px;
    border-radius: 128px;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.btn__C:hover{
    background: linear-gradient(var(--light-slate-blue-background),var(--light-royale-blue-background));
}
/* right r styles */

@media (max-width: 768px) {
    .card__container{
        width: 375px;
        height: 809px;
        max-width: 100%;
    }

    .card__row{
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0;
    }

    .results__circle{
        width: 140px;
        height: 140px;
    }

    .results__circle p{
        font-size: 16px;
    }

    .left-rectangle{
        width: 375px;
        height: 356px;
        max-width: 100%;
        position: relative;
        left: 0.01rem;
    }

    .left-rectangle h1{
        font-size: 56px;
    }

    .left-rectangle p{
        font-size: 16px;
    }
}